/* Parents only */

body { padding-top: 50px; padding-bottom: 49px; }
html { background: url("../../pics/background.png") center center fixed; }
html { background-repeat: no-repeat; }
html { background-size: cover; }
html body { background: inherit; }

p { margin-bottom: 0px; }

span.input-group-addon { height: 34px; width: 100px; }
span.input-group-addon { border-radius: 0px; }

tr.alt { background-color: #2a2f2a; }
tr.alt { border-top: 1px solid #232323; }

#navbar-copyright { color: #888888; }
#navbar-copyright { padding: 20px; }
#contactlogo{ height: 100%; width: 100%; }
#mpclogo-img{ height: 300px; width: 600px;}
#signup-form { max-width: 450px; }

.well label,
.form-group p { padding-top: 10px; }
.input-group input { border-radius: 0px; }

.panel-page-top { padding-bottom: 30px; }
.form-signup { padding-bottom: 10px; }
.btn-login:hover { 
	color: #99dd99;
	border-color: #225522; 
}
.btn-login { 
  color: #ffffff;
	font-size: 16pt;
	width: 100px;
  background-color: #5cb85c;
	border-size: 3px;
	border-radius: 2px;
  border-color: #4cae4c;
}
