/* Parents only */
body 
{ 
	padding-top: 50px; 
	padding-bottom: 49px; /* Padding is for Navbar and Footer */
	background-size: 100%; 
	background-color: #101010; 
}

h1, h2, h3, h4, h5, h6, p { color: #ffffff; }

#navbar-copyright { padding: 20px; color: #888888; }
#alias, #email, #password { width: 90%; } 
#email, #password { color: #000000; }

#mpclogo-img{ height: 300px; width: 600px; }