
#navbar-copyright { color: #888888; }
#navbar-copyright { padding: 20px; }

body { padding-top: 50px; padding-bottom: 49px; }
html { background: url("../../pics/background.png") center center fixed; }
html { background-repeat: no-repeat; }
html { background-size: cover; }
html { height: 100%; min-height: 100%; }
html body { height: inherit; }
html body { background: inherit; }

p { margin-bottom: 0px; }

span.input-group-addon { height: 34px; width: 100px; }
span.input-group-addon { border-radius: 0px; }

tr.alt { background-color: #2a2f2a; }
tr.alt { border-top: 1px solid #232323; }

.well label,
.form-group p { padding-top: 10px; }
.input-group input { border-radius: 0px; }
.form-signup { padding-bottom: 10px; }
.signup-text { padding: 25px; }

.panel-login { padding-bottom: 15px; }
.panel-login h1 { margin-top: 0px; }

.navbar-forum .navbar { 
	min-height: 30px; 
	top: 10px;
}
.navbar-forum li > a {
	padding: 7px; 
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid transparent;
}
.navbar-forum > .navbar-static-top { position: relative; z-index: 1; }
.navbar-forum li > a:active {	background-color: #4f4f9f; }

#image-banner-login { 
	max-height: 300px; 
	margin-left: auto;
	margin-right: auto;
}
#image-brand-login {
	height: 400px;
}

.content-signup {	
	padding-top: 30px;
	max-width: 500px;
	min-width: 200px;
}

.container .content,
.container-fluid .content {
	margin: 0px;
	padding: 0px;
	padding-bottom: 100px;
	padding-top: 25px;
}

.btn-signup:hover,
.btn-login:hover { 
	color: #99dd99;
	border-color: #225522; 
}
.btn-signup { margin-top: 30px; }
.btn-signup,
.btn-login { 
  color: #ffffff;
	font-size: 14pt;
	padding: 10px;
	margin-right: 10px;
	width: 100px;
  background-color: #5cb85c;
	border-size: 3px;
	border-radius: 2px;
  border-color: #4cae4c;
}